C:\Users\natha\Documents\GitHub\PSlime\Project-Slime\Library
C:\Users\natha\Documents\GitHub\PSlime\Project-Slime\Logs
C:\Users\natha\Documents\GitHub\PSlime\Project-Slime\Packages
C:\Users\natha\Documents\GitHub\PSlime\Project-Slime\ProjectSettings
C:\Users\natha\Documents\GitHub\PSlime\Project-Slime\UserSettings
